<img align="center" src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/cats.jpg" height="1200" width="1200"> 

# Мини-домашка по основам статистики

У всех нас есть датасет по контакту. В нём лежит информация про всех нас. Эту информацию надо как следует проанализировать. Именно этим мы сейчас и займёмся.

Подгрузим данные и посмотрим на первые пять строчек из таблицы.

In [1]:
import pandas as pd

df = pd.read_csv('../data/vk_download/vk_main.csv', sep='\t')
df.head()

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_month_mean,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct
0,Москва,Россия,Александра,Москва,True,True,False,Абашкова,60.0,182152789,...,1.333333,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,42.0,0.428571
1,Рязань,Россия,Анастасия,Рязань,True,True,False,Чуфистова,0.0,148020433,...,2.375000,2.0,1.0,0.105263,0.0,0.0,0.0,0.0,32.0,0.281250
2,Москва,Россия,Александр,Омск,False,True,False,Головачев,0.0,138413935,...,1.400000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,32.0,0.406250
3,NaN,NaN,Анна,NaN,False,True,False,Лобанова,0.0,366261055,...,4.166667,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,45.0,0.333333
4,NaN,Россия,Алексей,NaN,True,True,False,Пузырный,21.0,111252392,...,3.181818,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,41.0,0.341463

In [4]:
df.photo_month_mean.min()

1.0

__[1] Сколько парней/девушек указали в профиле, что знают английский?__  

Эта информация лежит в переменной `english_dummy`. Значение $1$ означает, что английский язык указан в профиле.

In [2]:
# Привет, я питоновская тетрадка. Я хочу, чтобы ты написал во мне код.
df.english_dummy.sum()  # всего

63

In [4]:
# можно найти для парней и девушек по-отдельности
df.groupby('male_dummy').agg('sum')['english_dummy']

male_dummy
0    26
1    22
Name: english_dummy, dtype: int64

__[1] У скольких человек с маркетинга нет авы?__

Используй переменные `is_bmm` и `has_ava_dummy` (значение `True` можно воспринимать как $1$, а `False` --- как $0$).

In [9]:
# Я, конечно, не дневник Тома Рэдла, но и ты не Гарри Поттер. Поэтому давай пообщаемся. 
df[(df.is_bmm == 1) & (df.has_ava_dummy == 0)].shape

(6, 98)

В переменной `alco_love_cat` лежит число от $1$ до $5$. Единица означает резко негативное отношение к алкоголю, $5$ резко позитивное. 

__[1] Сколько человек указали своё отношение к алкоголю (в поле стоит не NaN)?__

In [5]:
# У тебя неплохо получается писать во мне код, напишешь ещё?
df.shape[0] - df['alco_love_cat'].isnull().sum()

103

__[1] Какое число людей относится к алкоголю позитивно/негативно? Подсчитайте число людей в каждой категории.__

In [5]:
# Ну пожалуйста! Напиши ещё строчечку!
df['alco_love_cat'].value_counts()

0.0    73
4.0    10
1.0    10
3.0     5
2.0     3
5.0     2
Name: alco_love_cat, dtype: int64

В переменной `is_closed` лежат `True`, если профиль человека является приватным.

__[2] Правда ли, что девушки-первокурсницы закрывают свой профиль чаще, чем парни? Какая доля парней закрыла профиль? Какая доля девушек закрыла профиль?__

In [11]:
# Ты молодец! У меня ещё никогда не было такого студента(тки)

# Нет, не правда. Парни чаще.
df.groupby('male_dummy').agg('sum')['is_closed']

male_dummy
0    19.0
1    22.0
Name: is_closed, dtype: float64

__[4] Какие утверждения из нижеперечисленных правдивые, а какие лживые?__

* У парней, _состоящих_ в группе с мемами `in_hse_memes_group`, больше репостов на стене `wall_repost_cnt`, чем у девушек, _не состоящих_ в той же группе
* У девушек не из Москвы в среднем на стенках меньше $80$ лайков (`wall_like_mean`)
* Если человек указал на странице свои политические предпочтения, он скорее всего либерал (`political_cat`)
* Переменная, говорящая сколько раз человек сменил аватарку, `photo_ava_change_cnt` не скачалась в датасет
* Больше всего подписок на паблики `subscriptions_cnt` у студентов из Узбекистана

Каждое утверждение должно быть проверено кодом! Иначе баллов за него не будет.

In [7]:
# А сможешь разобраться с этими фактами и дать на них ответы?

In [65]:
# 1. Репосты
# Всё так
df.groupby(['in_hse_memes_group', 'male_dummy']).wall_repost_cnt.mean()

in_hse_memes_group  male_dummy
False               0              8.390244
                    1             28.101695
True                0             21.639456
                    1             19.135417
Name: wall_repost_cnt, dtype: float64

In [9]:
# 2. Девушки не из Москвы и лайки
# Нечёткий вопрос. Можно сказать, что нет если смотреть так: 
sum(df[df['city'] != 'Москва']['wall_like_mean'] > 80)

1

In [10]:
# либо да, если понять вопрос так
# за любую из проверок - полный балл
df[df['city'] != 'Москва']['wall_like_mean'].mean()

17.118164840817947

In [11]:
# 3. Про либералов 
df['political_cat'].value_counts()  # неправда, умеренный

умеренные           9
либеральные         5
коммунистические    2
либертарианские     2
индифферентные      2
Name: political_cat, dtype: int64

In [38]:
# 4. Про смену аватарки 
df['photo_ava_change_cnt'].value_counts() # везде ноль, по ходу правда не скачалась

0.0    376
Name: photo_ava_change_cnt, dtype: int64

In [54]:
# 5. Про подписки
# Узбекистан сильно не дотянул до ОАЭ
df.groupby('country').subscriptions_cnt.mean()

country
Беларусь                          5.000000
Великобритания                    1.500000
Венгрия                           2.000000
Испания                           6.000000
Казахстан                         0.500000
Кыргызстан                        0.500000
Молдова                           0.000000
Объединенные Арабские Эмираты    65.000000
Португалия                        0.000000
Россия                            5.793605
США                               5.000000
Сингапур                          0.000000
Узбекистан                       22.000000
Украина                           7.000000
Name: subscriptions_cnt, dtype: float64

__[n]  Удиви нас. Попробуй найти в данных какую-то классную особенность. Если у тебя это получится, мы поставим дополнительные баллы.__ Если вы найдёте полную фигню (сколько всего друзей у Маши или типа того), баллов не будет. Найденный факт реально должен выносить мозг и сносить крышу.

In [ ]:
# Попробуй меня на вкус!

Фидбэк по домашке и свои нюни можно оставить в [анонимном опроснике.](https://docs.google.com/forms/d/e/1FAIpQLScXIVQNUJW03k76zB5RcOHX0iORIfV-d1-8_KQS4GcuKO5SoA/viewform)